body
{
    background-color: #000000;
    color: #dddddd;
    margin: 0;
}

#video-area
{
    margin-left: auto;
    margin-right: auto;
}

#video-simulation
{
    height: 320px;
    width: 550px;
    
    margin-left: auto;
    margin-right: auto;
    background: #333333 url('../images/background.png') center;
    /* display: inline-block; */
}

header
{
    height: 5%;
}

div.content
{
    text-align: center;
    display: table;
    position: absolute;
    height: 95%;
    width: 100%;
}

div.content2
{
    display: table-cell;
    vertical-align: middle;
}

div.content3
{        
    margin-left: auto;
    margin-right: auto;
}
div.controls
{   

    width: 550px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background: #333339;  
}
div.controls>*
{
    height: 30px;
    width: 40px;
    display: block;
    float:left;
    cursor: pointer;
    background: #333339;
}

div#play, div#pause
{
    width: 50px;
}

div#play
{
    background: #333339 no-repeat url('../images/player-controls.png');
    background-position-x: -32px;
}


div#play:hover, div#pause:hover, 
div#quality:hover, div#volume:hover
{
    -webkit-box-shadow: inset 0 0 10px #ffffff;
}

div#pause
{   
    display:none;
    background: #333339 no-repeat url('../images/player-controls.png');
    background-position-x: -115px;
}

div#quality
{    
    background: #333339 no-repeat url('../images/player-controls.png');
    background-position-x: -200px;
    float: right;
}


/*div#volume:hover #volume-slider
{
    width: 150px;
}*/

div#time
{
    width: auto;
    padding: 0px 10px;
    float: right;
}

div#time > div
{
    float: left;
}

div#time #time-delimiter
{
    font-size: 25px;
    padding: 0px 8px;
    color: #888888;
}
div#time #time-total
{
    font-size: 18px;
    padding-top: 5px;
    color: #aaaaaa;
}
    div#time #time-stats
    {
        text-align: right;
        font-size: 14px;
        padding-top: 1px;
    }

 div#time #time-remaining
    {
        font-size: 10px;
        margin-top: -1px;
        color: #888888;
    }

#progressbar
{
    width: 100%;
    height: 6px;
    margin-bottom: 2px;
    -webkit-transition: height .3s, margin-top .3s;
    background: #444449;
    display: inline-block;
    position: relative;
}

#progressbar:hover
{
    height: 16px;
    margin-top: -10px;
}

#progressbar DIV
{
    border: 0px;    
    border-radius: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
}
#progressbar #progressbar-preloaded
{
    background: #666666;    
    border-radius: 0px;
}
#progressbar #progressbar-playing
{
    background: #0082E0;    
    border-radius: 0px;
}

#progressbar #progressbar-new-position-bar
{
    background: transparent url('../images/new-time-pointer.png') repeat-y -10px;
}

body .ui-tooltip {
    border: 1px solid white;
    padding: 4px;
    background: rgba(20, 20, 20, 1);
    color: white;
    font-size: 12px;
  }

#volume-slider
{
    height: 6px;    
    width: 100px;
    top: 11px;
    float: left;
}

#volume-slider .ui-slider-handle
{
    width: 6px;
    height: 10px;
    margin-left: -3px;
    top: -3px;
    background: #999999;
}

div#volume-slider .ui-slider-handle.ui-state-focus, div#volume-slider .ui-slider-handle.ui-state-hover
{
    background: #bbbbbb;
    outline-style: none;
    border-color: #999999;
}

#volume-slider .ui-slider-range
{
    background: #777777;
}

#volume
{
    width: auto;    
    float: right;
    padding: 0px 14px 0px 8px;
}

#volume #volume-icon
{
    background: no-repeat url('../images/player-controls.png');
    background-position-x: -240px;
    float: left;
    height: 100%;
    width: 40px;
}

#volume #volume-icon.icon-0
{
    background-position-x: -240px;
}
#volume #volume-icon.icon-1
{
    background-position-x: -280px;
}
#volume #volume-icon.icon-2
{
    background-position-x: -320px;
}
#volume #volume-icon.icon-3
{
    background-position-x: -360px;
}
#volume #volume-icon.icon-4
{
    background-position-x: -400px;
}